<h1>Your Contacts</h1>

<!-- Listar contactos y poder navegar al pinchar en uno de ellos al detalle -->
<div *ngFor="let contact of contactsList; let i = index">
  <div routerLink="{{ contact.id }}" [state]="{ data: contact, filter: sexFilter }">
    <h6>{{ contact.name }}</h6>
    <button (click)="goBackHomeAndSelectHiddenFriend(contact)">Seleccionar como amigo invisible y volver a la home</button>
    <br>
  </div>
</div>

<ng-container *ngIf="sexFilter == 'woman' || sexFilter == 'man'; else fullList">
  <p>Mostrando amigos "{{ sexFilter }}"</p>
</ng-container>

<ng-template #fullList>
  <p>Mostrando lista de contactos completa</p>
</ng-template>

<a routerLink="/home" [queryParams]="{ sex: sexFilter }">Go back Home</a>
