<h1>Your Contacts</h1>

<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
  <h6>Cargando...</h6>
</div>
<!-- Listar contactos y poder navegar al pinchar en uno de ellos al detalle -->
<div *ngFor="let contact of randomContactsList; let i = index">
  <div routerLink="{{ contact.id.name }}" [state]="{ data: contact, filter: sexFilter }">
    <h4>
      {{ contact.name.first }}
      {{ contact.name.last }}
    </h4>
    <button mat-raised-button color="primary" (click)="goBackHomeAndSelectHiddenFriend(contact)">Seleccionar como amigo invisible y volver a la home</button>
    <br>
  </div>
</div>

<ng-container *ngIf="sexFilter == 'female' || sexFilter == 'male'; else fullList">
  <p>Mostrando amigos "{{ sexFilter }}"</p>
</ng-container>

<ng-template #fullList>
  <p>Mostrando lista de contactos completa</p>
</ng-template>

<a routerLink="/dashboard/home" [queryParams]="{ sex: sexFilter }">Go back Home</a>
